<div class="forms-container">

    <div class="menu-container">
        <menu class="forms-menu">
            <ul>
                <li class="menu-btn search-menu-btn">Buscar</li>
                <li class="menu-btn create-menu-btn">Crear</li>
            </ul>
        </menu>
    </div>

    <div class="form-container search-form-container">
        <form class="form search-form">
            <div class="input-group">
                <input type="text" class="productCode" name="productCode" placeholder="Código">
            </div>
            <div class="input-group">
                <input type="text" class="productName" name="productName" placeholder="Nombre">
            </div>
            <div class="input-group price-range-group">
                <input type="text" class="min-price" name="minPrice" placeholder="Precio mínimo">
                <input type="text" class="max-price" name="maxPrice" placeholder="Precio máximo">
            </div>
            <div class="input-group">
                <input type="submit" value="Buscar">
            </div>
        </form>
    </div>

    <div class="form-container create-form-container d-none">
        <form class="form create-form">
            <div class="input-group">
                <input type="text" class="productName" name="productName" placeholder="Nombre" required>
            </div>
            <div class="input-group">
                <input type="text" class="price" name="price" placeholder="Precio">
            </div>
            <div class="input-group">
                <input type="text" class="stockUnits" name="stockUnits" placeholder="Stock">
            </div>
            <div class="input-group">
                <input type="submit" value="Crear">
            </div>
        </form>
    </div>

</div>