<div class="forms-container">

    <div class="menu-container">
        <menu class="forms-menu">
            <ul>
                <li>Crear</li>
                <li>Eliminar</li>
            </ul>
        </menu>
    </div>

    <div class="search-form-container d-none">
        <form class="search_product_form">
            <div class="input-group">
                <input type="text" class="productCode" name="productCode" placeholder="Código" required>
            </div>
            <div class="input-group">
                <input type="text" class="productName" name="productName" placeholder="Nombre" required>
            </div>
            <div class="input-group">
                <input type="text" class="minPrice" name="minPrice" placeholder="Precio mínimo">
                <input type="text" class="maxPrice" name="maxPrice" placeholder="Precio máximo">
            </div>
        </form>
    </div>

    <div class="create-form-container">
        <div class="create-form-container">
            <form class="create_product_form">
                <div class="input-group">
                    <input type="text" class="productName" name="productName" placeholder="Nombre" required>
                </div>
                <div class="input-group">
                    <input type="text" class="price" name="price" placeholder="Precio">
                </div>
                <div class="input-group">
                    <input type="text" class="stockUnits" name="stockUnits" placeholder="Stock">
                </div>
            </form>
        </div>        
    </div>

</div>
